@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        <p> La risposta è 42</p>
        @context.User.IsInRole("admin")

        @foreach(var claim in @context.User.Claims)
        {
            <p>@claim.Type - @claim.Value</p>
        }

    </Authorized>
    <NotAuthorized>
        <p>Non sei autorizzato a vedere questo contenuto</p>
    </NotAuthorized>
</AuthorizeView>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
